@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    user-select: none;
    cursor: url('/images/default.cur'), default;
  }

  a,
  a *,
  button,
  button *,
  .btn,
  .btn *,
  .prose .post-image,
  .cursor-pointer * {
    cursor: url('/images/pointer.cur'), pointer;
  }

  html {
    /* transition: background-color 0.5s linear, color 0.25s linear; */
    min-height: 100vh;
    user-select: none;
  }

  div,
  p {
    @apply break-all;
    user-select: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    user-select: none;
  }

  /* Remove Safari input shadow on mobile */
  input[type='text'],
  input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .break-words,
  .break-words p {
    word-wrap: break-word;
    word-break: break-word;
  }

  table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  .prose .anchor {
    @apply absolute invisible no-underline text-secondary max-w-full;
    margin-left: -1.5rem;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    height: max-content;
  }

  .anchor:hover {
    @apply visible;
  }

  .prose .anchor:after {
    content: '#';
  }

  .prose *:hover > .anchor {
    @apply visible;
  }

  .prose img {
    /* Don't apply styles to next/image */
    @apply m-0;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    @apply text-neutral-50;
  }

  .prose {
    @apply min-w-full;
  }
  .prose > * {
    @apply min-w-[95%] w-full lg:w-[95%] mx-auto;
  }
  .prose h1,
  .prose h2 {
    @apply relative text-primary-content bg-primary border-primary-focus mx-auto rounded shadow-lg text-center min-w-[95%] w-full lg:w-[95%] py-1;
  }
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-secondary-focus relative;
  }

  .prose table {
    @apply table min-w-[95%] w-full lg:w-[95%] table-zebra shadow mx-auto table-normal;
  }

  .prose tr {
    @apply hover;
  }
  [data-rehype-pretty-code-fragment] {
    @apply min-w-[95%] w-full lg:w-[95%] mx-auto rounded shadow-lg;
  }
  [data-rehype-pretty-code-fragment] code {
    @apply grid break-words border-0 bg-transparent p-0 text-sm text-black;
    counter-reset: line;
    box-decoration-break: clone;
  }
  [data-rehype-pretty-code-fragment] pre {
    @apply mx-auto p-4;
  }
  [data-rehype-pretty-code-fragment] code * {
    user-select: text;
  }
  [data-rehype-pretty-code-fragment] .line {
    @apply py-1;
  }
  [data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }
  [data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-slate-500 bg-opacity-10;
  }
  [data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
  }
  [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
  }
  [data-rehype-pretty-code-title] {
    @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-secondary-content bg-secondary border-secondary;
  }
  [data-rehype-pretty-code-title] + pre {
    @apply mt-0 rounded-t-none border-t-0;
  }
}

@layer components {
  #background {
    @apply fixed inset-0 saturate-150 z-[-1];
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: all 0.25s ease-in-out;
    transform-style: preserve-3d;
  }
  #background.dark {
    @apply brightness-50 saturate-100;
    transform: rotate(-3deg) scale(1.2);
    /* scaleX(-1); */
  }
}
